{% extends 'base.html'%}
{% block content%}
<div class="container-fluid">
	<div class="row mt-4">
		
		<div class="col-sm-12 col-md-6 col-lg-3">
			<div class="card m-3" >
				<div class="card-body">
					<h4 class="card-title">Pavan Baswani</h4>
					<p class="card-text">Hi There!<br>I'm here to guide you the sentence relatedness task...</p>
            		<a href="mailto:pavan.baswani@research.iiit.ac.in" target="_blank">pavan.baswani@research.iiit.ac.in</a>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3">
			<div class="card m-3" >
				<div class="card-body">
					<h4 class="card-title">Nirmal Surange</h4>
					<p class="card-text">Hi There!<br>I'm here to guide you the sentence relatedness task...</p>
            		<a href="mailto:nirmal.surange@research.iiit.ac.in" target="_blank">nirmal.surange@research.iiit.ac.in</a>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3">
			<div class="card m-3" >
				<div class="card-body">
					<h4 class="card-title">Lokesh Madasu</h4>
					<p class="card-text">Hi There!<br>I'm here to guide you the sentence relatedness task...</p>
            		<a href="mailto:lokesh.madasu@research.iiit.ac.in" target="_blank">lokesh.madasu@research.iiit.ac.in</a>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3">
			<div class="card m-3" >
				<div class="card-body">
					<h4 class="card-title">Gopichand Kanumolu</h4>
					<p class="card-text">Hi There!<br>I'm here to guide you the sentence relatedness task...</p>
            		<a href="mailto:gopichand.kanumolu@research.iiit.ac.in" target="_blank">gopichand.kanumolu@research.iiit.ac.in</a>
				</div>
			</div>
		</div>
		
	</div>
</div>
{%endblock%}