<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>edit_profile</title>
    <link rel="stylesheet" href="{% static 'css_js/bootstrap.min.css' %}">
    <script src="{% static 'css_js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
    </style>
      
</head>
<body>
    <div class="container">
    <div class="row mt-5">
      <div class="col-lg-3 col-md-3 col-sm-3"></div>
      <div class="col-lg-6 col-md-6 col-sm-6">

        <div class="card px-5 py-5">

          <div class="card-text">
            <h2 class="text-center">Profile</h2>
          </div>

          <div class="card-body">

            <form method="post">
                {% csrf_token %}
                {% if error %}
                  <p class="text-center" style="color:red; font-weight: bold;">{{ error }}</p>
                {% endif %}
                <div class="form-group">
                  <label id="username" style="font-weight: bold; font-size: 20px; margin: 5px; padding: 5px;">Username</label>
                  <input type="text" class="form-control form-control-lg" name="username" value="{{ user.username }}" disabled>
                </div>
                <div class="form-group">
                  <label id="useremail" style="font-weight: bold; font-size: 20px; margin: 5px; padding: 5px;">User Email</label>
                  <input type="text" class="form-control form-control-lg" name="useremail" value="{{ user.email }}" disabled>
                </div>
                <div class="form-group">
                    <label id="userrole" style="font-weight: bold; font-size: 20px; margin: 5px; padding: 5px;">User Role</label>
                    <input type="text" class="form-control form-control-lg" name="userrole" value="{{ user.role }}" disabled>
                </div>
                <div class="form-group">
                    <label id="usercontact" style="font-weight: bold; font-size: 20px; margin: 5px; padding: 5px;">Mobile No</label>
                    <input type="text" class="form-control form-control-lg" name="usercontact" value="{{ user.phone }}" required autofocus>
                </div>
                
                <button type="submit" class="btn btn-success btn-lg text-center mt-5 px-5 float-end">Save Changes</button>
              </form>
          </div>

        </div>

      </div>
    </div>
    <br>
  </div>
    
</body>

</html>