{%extends 'base.html'%}
    {% block title%}
       <title>endpoint</title>
    {%endblock title%}
  {% block content %}
    <div class="container">
        <h1 class="text-center">Endpoints</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'profile_edit' %}">Profile Edit</a>
            <a href="{% url 'change_password' %}">Change Password</a>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'display' %}">anno</a>
            <a href="{% url 'annotates' %}">annotate</a>
            <a href="{% url 'nextpara' %}">nextpara</a>
            {% if user.role == 'coordinator'%}
            <a href="{% url 'manage_users' %}">manage_users</a>
            <a href="{% url 'manage_datasets' %}">manage_datasets</a>

            {%endif%}
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}

        <h1>helloooooo</h1>
        

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}


<!-- if (articleId==lengths){
    let lowestkey = null
    for (let key in dict){
        if (dict[key]===0){
            lowestkey = parseInt(key)
            break
        }
    }
    load_next_article(lowestkey);
    if (articleId<lengths){
        dict[articleId-1] = 1
    }
} -->