{%extends 'base.html'%}
  {% block content %}
    <div class="container">
    <h2>Create an Account</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <!-- <div class="form-group">
        <label class="form-label" for="user_role">User Role</label>
        <select class="form-control"  id="user_role" name="user_role">
            <option value="annotator">annotator</option>
            <option value="evaluator">evaluator</option>
            <option value="coordinator">coordinator</option>
        </select>
      </div>
      <div class="form-group">
        <input class="form-input" type="text" id="contact" name="contact" placeholder="Enter Mobile No">
        <label class="form-label" for="contact">Mobile No</label>
      </div> -->
      <button type="submit" class="btn btn-primary">Create User</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
  </div>
{% endblock %}