<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>prediplay</title>
		<link rel="stylesheet" href="{% static 'css_js/bootstrap.min.css' %}">
		<script src="{% static 'css_js/bootstrap.bundle.min.js' %}"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<style>
			*{
				padding: 0px;
				margin: 0px;
				box-sizing: border-box;
			}
		</style>
		<script>

		    $(document).ready(function () {
		    	let articleId=1
		    	let completed = 0
		    	let lastClickedButton = `#article_${articleId}`;
		    	let nextArticleId = null
		    	let lengths = '{{ request.session.length }}'
		    	const dict = {};
		    	for (let i = 0; i < lengths; i++) {
    				if($(`#article_${i+1}`).hasClass('btn-success')){
    					dict[i]=1
    				}
    				else{
    					dict[i]=0
    				}
				} 

		    	
		    	

		    function load_next_article(id) {
		        // Calculate the fileid based on user interaction
		        
		    	fileid = '{{ request.session.dataset_id }}'
		        $.ajax({
		            url: `{% url 'nextpara' 2 %}`,
		            type: 'get',
		            dataType: 'json',
		            success: function (response) {
		                const data = response.datas[id]; // Access the first item in the data array

		                // const htmlTemplate = `
		                //             <p>${data.input[0].sentence_a}</p>
		                //             <p>${data.input[0].sentence_b}</p>
		                //             <br>
		                //             <p>${data.input[1].sentence_a}</p>
		                //             <p>${data.input[1].sentence_b}</p>
		                //             <br>
		                //             <p>${data.input[2].sentence_a}</p>
		                //             <p>${data.input[2].sentence_b}</p>
		                //             <br>
		                //             <p>${data.input[3].sentence_a}</p>
		                //             <p>${data.input[3].sentence_b}</p>
		                            
		                //         `;
		                setdata(data)
		                // $('.change').html(htmlTemplate);
		            },
		            error: function (err) {
		                console.log(err);
		                console.log('Couldn\'t load the data');
		            }
		        });
		    }
		    load_next_article(0)

		    function setdata(data){
		    	$('#one_sentence_a').val(data.input[0].sentence_a)
		    	$('#one_sentence_b').val(data.input[0].sentence_b)
		    	$('#two_sentence_a').val(data.input[1].sentence_a)
		    	$('#two_sentence_b').val(data.input[1].sentence_b)
		    	$('#three_sentence_a').val(data.input[2].sentence_a)
		    	$('#three_sentence_b').val(data.input[2].sentence_b)
		    	$('#four_sentence_a').val(data.input[3].sentence_a)
		    	$('#four_sentence_b').val(data.input[3].sentence_b)
		    	const mr_options_to_choose = `
		    		<input type="radio" id='mroption1' name="mr_pairs" value="${data.input[0].pair_id}" >
        			<label class="m-2">1</label>
					<input type="radio" id='mroption2' name="mr_pairs" value="${data.input[1].pair_id}">
					<label class="m-2">2</label>
					<input type="radio" id='mroption3' name="mr_pairs" value="${data.input[2].pair_id}">
					<label class="m-2">3</label>
					<input type="radio" id='mroption4' name="mr_pairs" value="${data.input[3].pair_id}">
					<label class="m-2">4</label>
		    	`
		    	const lr_options_to_choose = `
		    		<input type="radio" id='lroption1' name="lr_pairs" value="${data.input[0].pair_id}" >
        			<label class="m-2">1</label>
					<input type="radio" id='lroption2' name="lr_pairs" value="${data.input[1].pair_id}">
					<label class="m-2">2</label>
					<input type="radio" id='lroption3' name="lr_pairs" value="${data.input[2].pair_id}">
					<label class="m-2">3</label>
					<input type="radio" id='lroption4' name="lr_pairs" value="${data.input[3].pair_id}">
					<label class="m-2">4</label>
		    	`
		    	$('.mr_options').html(mr_options_to_choose)
		    	$('.lr_options').html(lr_options_to_choose)
		    }

		    function save_contents(response){
		    	let mrpairs = ''
		    	let lrpairs = ''
		    	const json_path = '{{ request.session.json_path }}';
		    	let wb_display = $('.number').text()
		    	if ($('#mroption1').is(':checked')){
		    		mrpairs = $('#mroption1').val()
		    	}
		    	else if($('#mroption2').is(':checked')){
		    		mrpairs = $('#mroption2').val()
		    	}
		    	else if($('#mroption3').is(':checked')){
		    		mrpairs = $('#mroption3').val()
		    	}
		    	else if($('#mroption4').is(':checked')){
		    		mrpairs = $('#mroption4').val()
		    	}

		    	if ($('#lroption1').is(':checked')){
		    		lrpairs = $('#lroption1').val()
		    	}
		    	else if($('#lroption2').is(':checked')){
		    		lrpairs = $('#lroption2').val()
		    	}
		    	else if($('#lroption3').is(':checked')){
		    		lrpairs = $('#lroption3').val()
		    	}
		    	else if($('#lroption4').is(':checked')){
		    		lrpairs = $('#lroption4').val()
		    	}

		    	if (lrpairs=='' || mrpairs==''){
		    		alert('choose options')
		    		load_next_article(articleId-1);
		    	}
		    	else if (lrpairs===mrpairs){
		    		alert('both mrpair and lrpair are same choose different')
		    		load_next_article(articleId-1);
		    	}
		    	else{
			    	$.ajax({
			    		data:{'mrpairs':mrpairs,'lrpairs':lrpairs,'wb_display':wb_display,'json_path':json_path},
			    		url: "{% url 'savecall' %}",
			    		type:'POST',
			    		dataType:'json',
			    		
			    		success: function(response){
			    			// const htmlTemplate = `
	                        //     <pre>${JSON.stringify(response, null, 2)}</pre>  
	                        // `;
	                        if (articleId==lengths){
							    let lowestkey = null
							    for (let key in dict){
							        if (dict[key]===0){
							            lowestkey = parseInt(key)
							            break
							        }
							    }
							    if (lowestkey==(lengths-1)){
							    	alert('you have finished all')
							    }
							    else{
								    load_next_article(lowestkey);
								    $('.number').text(lowestkey+1);
								}
							}
	                        if (articleId<lengths){
        						dict[articleId-1] = 1
		                        $(lastClickedButton).removeClass('btn-primary'); 
			        			$(lastClickedButton).addClass('btn-success');
		                        articleId+=1
		                        completed+=1
	        					// $('.mrvalue').text(completed)
		                        load_next_article(articleId-1);
				    			$('.number').text(articleId);
				    			nextArticleId = parseInt(lastClickedButton.replace('#article_', '')) + 1;
					            $(`#article_${nextArticleId}`).removeClass('btn-secondary');
					            $(`#article_${nextArticleId}`).addClass('btn-primary');
					            last = parseInt(lastClickedButton.replace('#article_', '')) + 1;
					            lastClickedButton = `#article_${last}`
					            
	        					
				    			
				    			console.log('savecall is executed')
					    	}
			    		},
			    		error: function(err){
			    			console.log(err)
			    		}
			    	})
			    }
		    }
		    


		    $('.call').click(function () {
			    // articleId = $(this).data('article-id');
			    articleId = $(this).text()
			    articleId= parseInt(articleId)
			    presentClickedButton = `#article_${articleId}`
			    $(`#article_${articleId}`).removeClass('btn-secondary');
			    $(`#article_${articleId}`).addClass('btn-primary');
			    if (lastClickedButton !== null && presentClickedButton!=lastClickedButton){
            		// Change the class of the last clicked button back to btn-secondary
		            $(lastClickedButton).removeClass('btn-primary');
		            $(lastClickedButton).addClass('btn-secondary');

		        }

        		lastClickedButton = `#article_${articleId}`;

			    $('.number').text(articleId);
			    load_next_article(articleId - 1);
			});

		    
		    $('#save').click(function(){
		    	save_contents()
		    	
		    	$('.number').text(articleId);
		    	

		    })
		});


</script>

	</head>
	<body>
	<div class="container-fluid">

    <div class="article-content" style=" height:100vh; overflow-y: scroll; overflow-x: hidden;">
    	<div class="row">
	    	<div class="col-sm-3 col-lg-1" >
	        <!-- Article Division Here -->
	        <div class="buttons" style=" height:100vh; overflow-y: scroll; overflow-x: hidden; border:2px solid black; " >
                {% for article in articles %}
				    <center class='select_check'>
				    	{% if article.status == "success" %}
				        <button class="btn btm-sm btn-success mt-1 call" id="article_{{ article.set_id }}" style="font-size: 11px; width:80%">{{ article.wb_display }}</button><br>
				        {% else %}
				        <button class="btn btm-sm btn-secondary mt-1 call" id="article_{{ article.set_id }}" style="font-size: 11px; width:80%">{{ article.wb_display }}</button><br>
				        {% endif%}
				    </center>
				{% endfor %}

            </div>
	        
	    	</div>
	        <!-- Article Division Ends Here -->

	        <!-- Content Division Here -->
	        <div class="col-sm-9 col-lg-11">
	        <input type="text" id="article_id_ref" hidden>
	        	<div class="changeing mb-3"><h3> <span class="number">1</span>.Which of the four sentence pairs below is MOST RELATED? Which pair is LEAST RELATED?</h3>
	        		
	        	</div>
	        	<!-- pair data display -->
	        	<div class="row mt-3">
	        		<div class="col-sm-12 col-md-1">
	        			<p class="text-center mt-2">1</p>
	        		</div>
	        		<div class="col-sm-12 col-md-5">
	        			<textarea id="one_sentence_a" class="form-control" style="resize:none; font-size:13px; overflow:auto; height:auto; background-color: #E2E2E2;" readonly>sentance_a</textarea><br>
	        		</div>
	        		<div class="col-sm-12 col-md-5">
	        			<textarea id="one_sentence_b" class="form-control" style=" resize:none;font-size: 13px; overflow: auto; height: auto; background-color: #E2E2E2;" readonly>sentance_b</textarea><br>
	        		</div>
	        		<div class="col-sm-12 col-md-1">
	        			
	        		</div>
	        		
	        	</div>
	        	<div class="row mt-3">
	        		<div class="col-sm-12 col-md-1">
	        			<p class="text-center mt-2">2</p>
	        		</div>
	        		<div class="col-sm-12 col-md-5">
	        			<textarea id="two_sentence_a" class="form-control" style="resize:none; font-size:13px; overflow:auto; height:auto; background-color: #E2E2E2;" readonly>sentance_a</textarea><br>
	        		</div>
	        		<div class="col-sm-12 col-md-5">
	        			<textarea id="two_sentence_b" class="form-control" style=" resize:none;font-size: 13px; overflow: auto; height: auto; background-color: #E2E2E2;" readonly>sentance_b</textarea><br>
	        		</div>
	        		<div class="col-sm-12 col-md-1">
	        			
	        		</div>
	        		
	        	</div>
	        	<div class="row mt-3">
	        		<div class="col-sm-12 col-md-1">
	        			<p class="text-center mt-2">3</p>
	        		</div>
	        		<div class="col-sm-12 col-md-5">
	        			<textarea id="three_sentence_a" class="form-control" style="resize:none; font-size:13px; overflow:auto; height:auto; background-color: #E2E2E2;" readonly>sentance_a</textarea><br>
	        		</div>
	        		<div class="col-sm-12 col-md-5">
	        			<textarea id="three_sentence_b" class="form-control" style=" resize:none;font-size: 13px; overflow: auto; height: auto; background-color: #E2E2E2;" readonly>sentance_b</textarea><br>
	        		</div>
	        		<div class="col-sm-12 col-md-1">
	        			
	        		</div>
	        		
	        	</div>
	        	<div class="row mt-3">
	        		<div class="col-sm-12 col-md-1">
	        			<p class="text-center mt-2">4</p>
	        		</div>
	        		<div class="col-sm-12 col-md-5">
	        			<textarea id="four_sentence_a" class="form-control" style="resize:none; font-size:13px; overflow:auto; height:auto; background-color: #E2E2E2;" readonly>sentance_a</textarea><br>
	        		</div>
	        		<div class="col-sm-12 col-md-5">
	        			<textarea id="four_sentence_b" class="form-control" style=" resize:none;font-size: 13px; overflow: auto; height: auto; background-color: #E2E2E2;" readonly>sentance_b</textarea><br>
	        		</div>
	        		<div class="col-sm-12 col-md-1">
	        			
	        		</div>
	        		
	        	</div>
	        	<!-- end pair data display -->
	        	<hr class="mt-3">
	        	<!-- pair chooising -->
	        	<div class="row">
	        		<div class="col-sm-12 col-lg-6">
	        			<h5> Most related pair</h5>
	        			<div class="mr_options">
        					
	        			</div>
	        		</div>
	        		<div class="col-sm-12 col-lg-6">
	        			<h5> Least releated pair</h5>
	        			<div class="lr_options">
        					
	        			</div>
	        		</div>
	        	</div>
	        	<hr>
	        	<div class="text-center">
	        		<!--<p class="mrvalue">5</p>
 	        		<p class="lrvalue">0</p>
	        		<p class='wbs'>0</p> -->
	        		<!-- <button class="btn btn-success changes" id="save" onclick="save_contents()">submit</button> -->
	        		<button class="btn btn-success changes" id='save'>submit</button>
	        	</div>
	        	<!-- end pair choosing -->
	    	</div>
	        <!-- Content Division Ends Here -->
	    </div>
    </div>
</div>
		
		{% for message in messages %}
		<h1>{{message}}</h1>
		{% endfor %}
	</body>
</html>


